# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

dump.rdb

*.log.?

# Jet Brains Idea
.idea/

# Project specific
data/

# C extensions
*.so

# database
*.sqlite3

# Distribution / packaging
.Python
env/
.env/
.venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


# Django stuff:
*.log
*.pot

*.pyc
*.pyo
env.sh
*.db
*.DS_Store

env/
.env/
venv/
.venv/
